.Tilt{ 
    background: linear-gradient(to right, rgb(115, 204, 194), rgb(244, 236, 245));
    width:150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.logo-img{
    padding-top: 5px;
}
@media screen and (max-width: 850px) {
    .Tilt{ 
       
        width:100px;
        height: 100px;

    }
  } 