body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Courier New', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background: linear-gradient(to right, rgb(0, 255, 225), rgb(245, 5, 201)); */


}

button{
  cursor: pointer;
}